body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('../../assets/media/cake-background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f8f8ff; /* Off-white font color */
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #f8f8ff; /* Off-white font color */
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #f8f8ff; /* Off-white font color */
}

button {
    background-color: #8368c3; /* Button background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a4fa3; /* Slightly darker shade for hover effect */
}

button:focus {
    outline: none;
}